.container {
    margin-top: 100px;
}

.checkbox-inline, .radio-inline {
    padding-left: 0px !important;
    vertical-align: baseline !important;
}

.center-column {
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: center;
}